table
{
    border: 3px solid #4576FF;
    width: 100%;
    background-color: white;
    margin: auto;

}

th {

    font-family: Arial;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid  #000099;

    background-image: url('gettyimages-1124450789-640x640.jpg');
}